h1 {
    text-align: center;
}
.containerliste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 20px;
}
ul li {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
li {
    list-style: none;
    padding: 5px;

}
/* .newtache {

} */
.terminee {
    text-decoration: line-through;
    color: rgb(111, 66, 66);
}
button {
    width: 75px;
    height: 37px;
    margin: 10px;
    padding: 2px;
}